@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@mixin openSans {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
@mixin Inter {
  font-family: Inter;
  font-size: 20px;
  line-height: 28px;
}
